<section id="estateList">
  <h1>New Listings</h1>

  <div class="row" >

    <div class="col-12 col-sm-6 col-md-3 mb-3" *ngFor="let estate of newestEstatesList | slice:0:(more ? undefined: 4)">
      <a [routerLink]="['/estateDetail/',estate.id]">
        <div class="card">
          <div class="imgEstate">
            <img class="card-img-top img_for_estate" src="https://tungnguyenc3.s3.amazonaws.com/{{estate.image}}" alt="Card image cap">
            <div class="estatesPrice">{{estate.price | currency}}</div>
          </div>

          <div class="card-body">
            <p class="card-text">
              <span class="info"> <b class="number">{{estate.bedroom_nums}}</b> bed</span>
              <span  class="info"><b class="number">{{estate.bathroom_nums}}</b>  bath</span>
              <span  class="info"><b class="number">{{estate.floor_space}}</b>  sqft</span>
              <br>
              <span>{{estate.address}}, {{estate.city_name}}</span>
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="showMore">
    <a class="showMoreBtn" (click)="more = !more">{{more ? 'Show Less': 'Show All'}} {{estateNums}} of this list</a>
  </div>
</section>
