<section id="estateList">
  <h1>New Listings in San Francisco, CA</h1>
  <a href="#">View All 310 New Listings</a>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
        <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
        <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>
<!--    -->
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>

    <!--    -->
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>

    <!--    -->
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
