
/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
div {
  display: block;
}
:host {
  display: block;
}
html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth ;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: .05rem;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
}

.ng-invalid:not(form) {
  border-left: 4px solid red;
}
.ng-valid:not(form) {
  border-left: 4px solid green;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
