#bannerEstates {
  position: relative;
  text-align: center;

  margin-top: 12vh;

  & img {
    width: 100%;

    border-radius: 7px;

    opacity: 0.7;

  }

  & .bannerEstates {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & .banner-title {
    color: white;
    text-shadow: 1.5px 3px rgba(31, 72, 105, 0.7);
    font-size: 4.5rem;
    font-weight: bolder;
    letter-spacing: 0.1rem;

  }

  & .banner-search {
    margin-top: 2.2rem;

    & button {
      height: 4.5rem;
      width: 4.5rem;

      border-radius: 0 8px 8px 0;
      border: none;
      outline: none;

      color: white;
      background-color: #e03232;

      & i {
        font-weight: bolder;
        font-size: 1.4rem;
      }
    }


    & input {
      height: 4.5rem;
      width: 38rem;

      border-radius: 8px 0 0 8px;
      border: 2px solid white;

      outline: none;

      &::placeholder {
        padding: 3rem 0 0 1rem;

        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}


.banner-wrapper {

  background-color: #000000;
  border-radius: 7px;

}

@media screen and (max-width: 1200px) {

  #bannerEstates {
    .banner-title {
      font-size: 3rem;
      font-weight: bolder;
      letter-spacing: 0.1rem;

    }

    .banner-search {

      & button {
        height: 4rem;
        width: 4rem;


        & i {
          font-weight: bolder;
          font-size: 1.1rem;
        }
      }


      & input {
        height: 4rem;
        width: 23rem;
        border: 2px solid white;


        &::placeholder {

          font-size: 1.2rem;
          letter-spacing: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 1065px) {

  #bannerEstates {
    .banner-title {
      font-size: 2.5rem;

    }

    .banner-search {

      & button {
        height: 3.5rem;
        width: 3.5rem;


        & i {
          font-size: 1rem;
        }
      }


      & input {
        height: 3.5rem;
        width: 20rem;
        border: 2px solid white;


        &::placeholder {

          font-size: 1rem;
          letter-spacing: 2px;
        }
      }
    }
  }
}


@media screen and (max-width: 905px) {

  #bannerEstates {
    .banner-title {
      font-size: 2rem;

    }

    .banner-search {

      & button {
        height: 2.5rem;
        width: 2.5rem;


        & i {
          font-weight: bolder;
          font-size: 1.1rem;
        }
      }


      & input {
        height: 2.5rem;
        width: 18rem;
        border: 2px solid white;


        &::placeholder {

          font-size: 0.8rem;
          letter-spacing: 2px;
        }
      }
    }
  }
}


@media screen and (max-width: 747px) {

  #bannerEstates {
    .banner-title {
      font-size: 1.5rem;

    }

    .banner-search {

      & button {
        height: 2rem;
        width: 2rem;

        & i {
          font-weight: bolder;
          font-size: 1rem;
        }
      }


      & input {
        height: 2rem;
        width: 15rem;
        border: 2px solid white;


        &::placeholder {

          font-size: 0.8rem;
          letter-spacing: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 588px) {

  #bannerEstates {
    .banner-title {
      font-size: 1.3rem;

    }

    .banner-search {

      & button {
        height: 1.8rem;
        width: 1.8rem;

        & i {
          font-weight: bolder;
          font-size: .8rem;
        }
      }


      & input {
        height: 1.8rem;
        width: 13rem;
        border: 2px solid white;

        &::placeholder {

          font-size: 0.7rem;
          letter-spacing: 2px;
        }
      }
    }
  }
}

//===========HOME BY PRICE, newHome, affordableHome, luxuryHome ============
#homeByPrice,
#newHome,
#affordableHome,
#luxuryHome{
  margin-top: 6rem;

  & h1 {
    font-weight: 500;
  }

  & a {
    font-size: 1.3rem;
  }

  & .row {
    margin-top: 2rem;

    & .card {
      border-top: none;
    }

    & .card-text .info {
      margin-right: 10px;

      & .number {
        font-weight: 500;
      }
    }
  }

  .imgEstate {
    position: relative;
    text-align: center;
    background-color: #000000;
    border-radius: 7px 7px 0 0;
    overflow: hidden;


    & img {
      opacity: 0.8;
      //border-radius: 15px 15px 0 0;

    }

    & .estatesPrice {
      position: absolute;
      bottom: 8px;
      left: 16px;

      color: white;
      font-size: 2.5rem;
      font-weight: bolder;

      letter-spacing: 1px;
    }
  }

  & .card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

@media screen and (max-width: 767px) {

  #homeByPrice,
  #newHome,
  #affordableHome,
  #luxuryHome{
    .col-12 {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 575px) {

  #homeByPrice,
  #newHome,
  #affordableHome,
  #luxuryHome {
    .col-12 {
      padding: 0 2rem;

      width: 60%;

      margin-bottom: 2rem;
    }
  }
}
