<section class="banner-wrapper">
  <div id="bannerEstates">
    <img class="banner-img" src="assets/images/homecover1.jpg" alt="">

    <div class="bannerEstates banner__info">
      <h1 class="banner-title">Discover your perfect home</h1>

      <div class="banner-search">
        <form action="#">
          <input type="text" placeholder="Search for City..." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</section>

<!--//===========HOME BY PRICE ============-->
<section id="homeByPrice">
  <h1>Homes around $1,345,000</h1>
  <a href="#">View all in San Francisco, CA</a>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>
    <!--    -->
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>

    <!--    -->
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>

    <!--    -->
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>

<!--//===========NEW LISTING ============-->
<section id="newHome">
  <h1>Newest Listings</h1>
  <a href="#">View all in San Francisco, CA</a>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>
    <!--    -->
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>

    <!--    -->
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>

    <!--    -->
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>

<!--//===========Affordable Homes ============-->
<section id="affordableHome">
  <h1>Affordable Homes</h1>
  <a href="#">View all in San Francisco, CA</a>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>
    <!--    -->
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>

    <!--    -->
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>

    <!--    -->
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>


<!--//===========LUXURY HOME ============-->

<section id="luxuryHome">
  <h1>Luxury Homes</h1>
  <a href="#">View all in San Francisco, CA</a>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>
    <!--    -->
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>

    <!--    -->
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>

    <!--    -->
    <div class="col-12 col-sm-6 col-md-3 ">
      <div class="card">
        <div class="imgEstate">
          <img class="card-img-top" src="https://ap.rdcpix.com/24bd4fa02b71e594f938ec149ade1700l-m3307468014od-w1024_h768.jpg" alt="Card image cap">
          <div class="estatesPrice">$ 5.895.000</div>
        </div>

        <div class="card-body">
          <p class="card-text">
            <span class="info"> <b class="number">3</b> bed</span>
            <span  class="info"><b class="number">3.5</b>  bath</span>
            <span  class="info"><b class="number">3.200</b>  sqft</span>
            <br>
            <span>434 32nd Ave San Francisco, CA 94121</span>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>

<!--HighLight Blogs-->

<app-highlights-blogs></app-highlights-blogs>

