<section id="postEstate">
  <form>
    <h1>What's the Address of the Home for Sale?</h1>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="address">Address:</label>
        <input type="text" class="form-control" id="address" placeholder="Enter address">
      </div>

      <div class="form-group col-md-6">
        <label for="city">City:</label>
        <select class="form-control" id="city">
          <option>New York City</option>
          <option>Chicago</option>
          <option>San Francisco</option>
        </select>
      </div>
    </div>

    <h1>Provide Some Important Home Details:</h1>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="price">Price ($):</label>
        <input type="text" class="form-control" id="price" placeholder="Enter Price">
      </div>
      <div class="form-group col-md-6">
        <label for="floor_space">Floor Space (sqft):</label>
        <input type="text" class="form-control" id="floor_space" placeholder="Enter Floor Space">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="bed_nums">Bedrooms:</label>
        <input type="number" class="form-control" id="bed_nums">
      </div>
      <div class="form-group col-md-4">
        <label for="bath_nums">Bathrooms:</label>
        <input type="number" class="form-control" id="bath_nums">
      </div>
      <div class="form-group col-md-4">
        <label for="garage_nums">Garages:</label>
        <input type="number" class="form-control" id="garage_nums">
      </div>
    </div>

    <h1>Describe Your Home:</h1>
    <div class="form-group">
      <textarea class="form-control" id="description" rows="3"></textarea>
    </div>

    <h1>Upload Your Home Photos:</h1>
    <p>helooooooooooo</p>

    <button type="submit" class="btn btn-primary">ConFirm</button>
  </form>
</section>
