<section id="header">
  <div class="header header-container">
    <div class="header__nav-bar">
      <div class="header__brand">
        <a href="#hero">
          <img src="assets/images/homeLogo.png" alt="">
        </a>
      </div>

      <div class="header__nav-list">
        <div class="hamburger" (click)="toggle()">
          <div class="bar"></div>
        </div>

        <ul>
          <li><a routerLink="" data-after="Home">Home</a></li>
          <li><a  routerLink="estatesList" data-after="Home">Buy a Home</a></li>
          <li><a data-after="Blogs">Blogs</a></li>
          <li style="cursor: pointer">
            <a  id="loginLogout" *ngIf="!loggedIn" (click)="open(content)">Sign up or Login</a>
            <div class="submenu"  *ngIf="loggedIn">
              <a  class="dropdown__btn"><fa-icon [icon]="faUser"></fa-icon> {{ownerName$ | async}}</a>
              <div class="dropdown__content">
                <a class="dropdown__item" (click)="goProfile()">Profile</a>
                <a class="dropdown__item" routerLink="postEstate"  >Sell your house</a>
                <a class="dropdown__item" (click)="logout($event)">Logout</a>
              </div>
            </div>

          </li>



        </ul>
      </div>
    </div>
  </div>
</section>
<ng-template #content let-modal>
  <div class="modal-wrapper">
    <div class="modal-header">
      <h2 class="modal-title"  id="modal-basic-title">Login</h2>
      <span id="clsBtn" class="modalCloseBtn" aria-hidden="true" (click)="modal.dismiss('Cross click')">x</span>
    </div>
    <div class="modal-body">
      <form [formGroup]="formLogin" (ngSubmit)="submitLogin()" class="login_form">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="Email" name="email" formControlName="email" required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password" formControlName="password" required>
          <bfv-messages></bfv-messages>
        </div>
        <div class="text-danger" [hidden]="!error">
          {{error}}
        </div>
        <button [disabled]="!formLogin.valid" type="submit" class="loginBtn">Sign in</button>
      </form>
    </div>
    <div class="modal-footer">
      <div class="regisLink">You don't have an account? <span (click)="goToRegisterPage()"> Register here</span></div>
    </div>
  </div>

</ng-template>
