<section class="banner-wrapper">
  <div id="banner">
    <img class="banner-img" src="assets/images/homebanner1.jpg" alt="">

    <div class="banner banner__info">
      <h1 class="banner-title">Discover a place you'll love to live</h1>

      <div class="banner-search">
        <form action="#">
          <input type="text" placeholder="Search for City..." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</section>
