<section id="privacyPolicy">
  <h1 class="privacyHeader">Privacy Policy</h1>

  <div class="privacy-content">
    <p><span>Effective Date:</span> January 29, 2021</p>

    <p>When you use Home Group services to find, buy, rent, or sell your home, get a mortgage, or connect to a real
      estate pro, we know you’re trusting us with your data. We also know we have a responsibility to respect your
      privacy, and we work hard to do just that. This policy explains what information we collect, why we use it, who we
      share it with, and how we protect it, along with the tools you can use to manage your privacy.</p>


    <ul>
      <li><a href="#introduction">Introduction</a></li>
      <li><a href="#information">Information collected by Home</a></li>
      <li><a href="#usingInfo">Why Home uses your information</a></li>
      <li><a href="#sharingInfo">Sharing your information</a></li>
      <li><a href="#privacyTool">Privacy tools and choices</a></li>
      <li><a href="#protectInfo">Protecting your information</a></li>
    </ul>

    <div id="introduction">
      <p class="subheader">Introduction</p>

      <p>We offer a wide range of services that focus on all stages of the home lifecycle: renting, buying, selling,
        financing, and home improvement.</p>

      <p>We know that everyone’s home journey is different, and that deciding on the right place to call home is an
        intimate, personal experience. Along with a wealth of information about homes, neighborhoods, market conditions,
        local real estate professionals, and financing options, we also use the information you give us to provide our
        services and help you find your next home.</p>

      <p>We carefully evaluate how we use data to make sure that we’re using your information to provide value for you.
        On this page, we aim to explain everything you need to know about your privacy at Home. If you have any
        questions that we haven’t answered here, you can always contact us at privacy@Home.com.</p>
    </div>
    <!--    -->
    <div id="information">
      <p class="subheader">Information collected by Home</p>

      <p>When you use our services, we collect a variety of information from and about you and your devices. Some of
        this information identifies you directly (like an email address) while some of it is associated with you through
        your account, profile, or device (like the homes you choose to save or your location data).</p>

      <p>The kind of data we collect about you depends on how you use Home. If you only use our services to browse for
        homes, we’ll have less information about you than if we help you sell your home, get a mortgage, sign your
        lease, or if you use any of our other transaction services. Even if you don’t have an account with us, we may
        still collect some data about you, like your email address and phone number if you choose to contact a real
        estate agent through our platform, or your IP address and other device information when you browse our sites or
        use our apps.</p>
    </div>

    <!--    -->
    <div id="usingInfo">
      <p class="subheader">Information you give us or create using our services</p>

      <p>When you use our services, we often ask you for information about yourself. This usually includes basic things
        like your name, email address, and phone number. If you use our transaction services, we might ask you for more
        sensitive data like your income, housing history, and credit score. If you contribute information, such as agent
        reviews, we’ll store that as well.</p>

      <p>You may also provide information about other people through our services. For example, if you share a home
        listing with someone, we will collect that person’s email address as part of your account information.</p>

      <p>Below are some examples of what information we collect for our main products and services and how we collect
        it.</p>
    </div>

    <!--    -->
    <div id="sharingInfo">
      <p class="subheader">Sharing your information</p>
      <p>We understand that sharing information with third parties is a big responsibility. We’re committed to sharing
        information only when needed for a legitimate business or legal purpose, and then only with recipients who will
        protect it.</p>

      <p>We share information when you ask us to share it. For example, if you choose to contact a real estate agent,
        mortgage lender, investor, builder, property manager, or other real estate pro through our platform, we will
        send them your name and contact information. Similarly, if you apply for rental housing through Home, your
        application information will be sent to the landlords you select.</p>
    </div>

    <!--    -->
    <div id="privacyTool">
      <p class="subheader">Privacy tools and choices</p>

      <p>We’ve made a variety of privacy tools available on our sites. Using the Home Privacy Center, you can see what
        kind of data we’ve collected about you and the types of third parties we share it with. You can also download a
        copy of your Home, Trulia, and HotPads data and take it with you to a service outside of Home. If you’d like
        to delete your Home, Trulia, or HotPads data or close your account, you can do that using the Home Privacy
        Center as well.</p>
      <p>We provide these tools for your benefit and we will never discriminate against you for using them. But if you
        choose to delete your data or close your account, we won’t be able to offer you services that require us to use
        your data</p>
    </div>

    <!--    -->
    <div id="protectInfo">
      <p class="subheader">Protecting your information</p>

      <p>We understand that no matter how we collect your information, we have a responsibility to protect it. We take
        that responsibility seriously. We build security into our products and features from the ground up to help
        protect data from unauthorized access, disclosure, alteration, and destruction.</p>

      <p>We’re always looking for threats and take reasonable steps to respond to those threats, protecting the
        information users share with us. Of course, no method of Internet transmission or data storage can provide
        guaranteed protection to your information. If anything should ever happen to your information, we’ll let you
        know as soon as we can and try our best to make it right.</p>

      <p>Zillow is based in the United States and the information we collect is governed primarily by U.S. law. Where we
        are subject to the privacy laws of other countries, we comply with those requirements. If you access or use our
        services or provide information to us, your information will be processed and stored in the United States, where
        you may not have the same rights and protections as you do under your local law.</p>

    </div>
  </div>
</section>


