<section id="trendBlog">
  <div class="row">
    <div class="leftColumn">
      <h2 class="title-trendBlog">Most Affordable (and Warm) Places to WFH This Winter</h2>

      <p>Remember that warm-weather place you cherished as a winter getaway back in those hazy, crazy, pre-pandemic days
        of, say, 2019? What would it be like to live there year-round?</p>
      <p>For more Americans, this alluring fantasy has become a reality, especially during this particularly bleak
        COVID-19 winter. As office and home, work and play blend together in this pandemic age, areas that once served
        as sunny vacation respites from chillier climes are emerging as desirable long-term locations for remote
        workers—and that’s been a game changer for real estate markets across the country.</p>
      <p>“Traditionally, winter is a season when many residents of northern, colder states move south to enjoy the
        warmer weather in states nearer the Gulf Coast,” says George Ratiu, senior economist for realtor.com®. “This
        year, the migration is compounded by the COVID pandemic, leading lots of residents from the Northeast and
        Midwest to seek not only a seasonal escape but a permanent home.”</p>

      <div class="imgTrendPage">
        <img src="assets/images/trendMain.jpg" alt="">
      </div>

      <h3 class="subtitle">1. Pinellas County, FL (St. Petersburg)</h3>
      <p class="price-subtitle">Median home price: $275,000</p>
      <p>Tampa Bay residents are still celebrating their Super Bowl win, but the area has a lot more going for it than
        Tom Brady. The metro boasts 246 days of sunshine per year, average February temperatures in the 70s, and some of
        the softest sand in the continental U.S. along the Gulf Coast beaches in Pinellas County.</p>
      <p>The county, which sits along the Gulf of Mexico, across the bay from Tampa, has seen an influx of home buyers
        from colder, more expensive places like Illinois, Minnesota, and even New York, who have been snatching up real
        estate.</p>
      <p>“We are having New Yorkers come to the Gulf Coast,” says Terry Tillung, real estate agent with Coldwell Banker
        Realty. “There used to be separation where East Coast people would come to the east coast of Florida and
        Midwesterners would come here. We’re seeing a shift now.”</p>
      <p>Those Northeasterners and others from cold climes have been trading out their cramped apartments for homes near
        the water, including this two-bedroom condo with killer views of Clearwater Beach listed for $250,000 and this
        two-bedroom house in St. Petersburg Beach on the market for $245,000.</p>
      <!--      -->
      <h3 class="subtitle">2. Broward County, FL (Fort Lauderdale)</h3>
      <p class="price-subtitle">Median listing price: $339,900</p>

      <div class="imgTrendPage">
        <img src="assets/images/trend1.jpg" alt="">
      </div>
      <p>As winter approached, remote workers from New York City, Connecticut, Massachusetts, Chicago, and pricey
        California began flocking to Broward County’s beaches in droves. The area, home to Fort Lauderdale, is just
        north of Miami-Dade and all of its world-class cultural offerings, but boasts a more chill vibe.</p>
      <p>Its beachfront strip, once infamous for spring break shenanigans, now boasts high-end restaurants. Walkable and
        sophisticated Las Olas Boulevard attracts visitors from across the region who want to eat, shop, and drink.</p>
      <p>Plus, the area boasts a wide range of housing at a wide range of prices. For just $269,000, buyers can get into
        this two-bedroom condo right next to one of the nicest beaches in Fort Lauderdale. And those who want newer
        homes with more space and better public schools can drive 20 minutes west to find places like this three-bedroom
        townhouse in desirable Cooper City listed at $299,900. But these days, buyers need to move fast.</p>
      <p>“It’s been a complete frenzy,” says Samantha DeBianchi, estate agent for DeBianchi Real Estate. “If I put a
        home on the market and it’s priced right, I’ll get five calls within the first 30 minutes.”</p>

      <!--    -->
      <h3 class="subtitle">3. Nueces County, TX (Corpus Christi)</h3>
      <p class="price-subtitle">Median listing price: $225,000</p>
      <p>According to the San Diego Audubon Society, Corpus Christi is “America’s birdiest place.” The large, shallow
        bay on which it lies attracts diverse flocks of water birds, songbirds, and raptors that bring in avian
        aficionados from across the U.S. But it’s not just amateur ornithologists who have been migrating here.</p>
      <p>The family-friendly metro is protected from the Gulf of Mexico by the gorgeous Padre and Mustang islands, which
        offer outdoor activities ranging from beach combing and watching sea turtles hatch to camping and paddling
        trails—along with plenty of tourists looking to rent vacation homes during season.</p>
      <p>Those homes are a steal. Starting in the mid-$100,000 range, buyers can get into condos with a view, including
        this two-bedroom on the water listed at $144,500 or a single-family nearby for a couple of hundred thousand
        more, including this three-bedroom house listed for $279,900.</p>

      <!--    -->
      <h3 class="subtitle">4. Cameron County, TX (South Padre Island)</h3>
      <p class="price-subtitle">Median listing price: $175,000</p>
      <div class="imgTrendPage">
        <img src="assets/images/trend5.jpg" alt="">
      </div>
      <p>One county south of Nueces, Cameron County, home to Padre Island National Seashore and Laguna Atascosa National
        Wildlife Refuge, has the same warm winter weather (average highs are in the 60s) with even more nature access
        and cheaper real estate. For $159,000, house hunters can get into this three-bedroom home in Laguna Vista, right
        near the waterfront and the wildlife refuge. Folks seeking a beach lifestyle can find a two-bedroom condo in the
        hub of South Padre Island for $172,500.</p>

      <!--    -->
      <h3 class="subtitle">5. Yuma County, AZ</h3>
      <p class="price-subtitle">Median listing price: $195,000</p>
      <div class="imgTrendPage">
        <img src="assets/images/trend2.jpg" alt="">
      </div>

      <p>There’s a reason Yuma County is called “America’s salad bowl.” The border region produces much of the lettuce,
        broccoli, and other leafy greens that Americans eat during the winter months. That’s because with highs in the
        mid-70s come February, plants can get all the sun they need to thrive when much of the rest of the country is
        frozen over.</p>

      <p>The idyllic weather is reason enough to pack your bags and head south, but the landscape is just as impressive.
        It’s home to Kofa National Wildlife Refuge, a 665,400-acre preserve with one of the largest herds of desert
        bighorn sheep in the Southwest, deer, foxes, and a wide variety of plants, some found only in this small slice
        of the Grand Canyon state.</p>

      <p>Yuma County has plenty of affordable options for those seeking to thaw out through the winter, from relaxing
        retreats in the desert, such as this two-bedroom on an acre of land in Wellton for $139,900, to nice spreads in
        town with a pool, like this three-bedroom listed at $174,900.</p>

    </div>
    <!--    -->
    <div class="rightColumn">

      <div class="popular-blog">
        <h3 class="title-popularBlog">Popular Post</h3>
        <div class="card" *ngFor="let blog of popularBlogs">
          <a [routerLink]="['/blogDetail/',blog.id]">
            <h2 class="subtitle-popularBlog">{{blog.title}}</h2>
            <div class="img-blog">
              <img src="assets/images/homebanner1.jpg" alt="">
            </div>
          </a>
        </div>

      </div>

    </div>
  </div>

</section>

