<section id="blogRight">
  <div class="row">
    <div class="leftColumn">

      <h2 class="title-blogLeft">What Is a Micromortgage? The Loan That Can Help You Buy a Home With Zero Down
        Payment</h2>
      <div class="imgRightBlog">
        <img src="assets/images/blogRight1.jpg" alt="">
      </div>

      <p>What are the tax benefits of owning a home? Plenty of homeowners are asking themselves this right around now as
        they prepare to file their taxes.</p>

      <p>You may recall the Tax Cuts and Jobs Act—the most substantial overhaul to the U.S. tax code in more than 30
        years—went into effect on Jan. 1, 2018. The result was likely a big change to your taxes, especially the tax
        perks of homeownership.</p>

      <p>While this revised tax code is still in effect today, the coronavirus has thrown a few curveballs. For one, the
        Internal Revenue Service has delayed filing season by about two weeks, which means it won't start accepting or
        processing any 2020 tax year returns until Feb. 12, 2021. (So far at least, the filing deadline stands firm at
        the usual date, April 15.)</p>

      <h3>Tax break 1: Mortgage interest</h3>
      <p>Homeowners with a mortgage that went into effect before Dec. 15, 2017, can deduct interest on loans up to $1
        million.</p>
      <p>"However, for acquisition debt incurred after Dec. 15, 2017, homeowners can only deduct the interest on the
        first $750,000," says Lee Reams Sr., chief content officer of TaxBuzz.</p>
      <p>Why it's important: The ability to deduct the interest on a mortgage continues to be a big benefit of owning a
        home. And the more recent your mortgage, the greater your tax savings.</p>
      <p>Note that the mortgage interest deduction is an itemized deduction. This means that for it to work in your
        favor, all of your itemized deductions (there are more below) need to be greater than the new standard
        deduction, which the Tax Cuts and Jobs Act nearly doubled.</p>
      <p>And note that those amounts just increased for the 2020 tax year. For individuals, the deduction is now $12,400
        ($12,200 in 2019), and it's $24,800 for married couples filing jointly ($24,400 in 2019), plus $1,300 for each
        spouse aged 65 or older. The deduction also went up to $18,650 for head of household ($18,350 in 2019), plus an
        additional $1,650 for those 65 or older.</p>
      <p>For some homeowners, itemizing simply may not be worth it. So when would itemizing work in your favor? As one
        example, if you're a married couple under 65 who paid $20,000 in mortgage interest and $6,000 in state and local
        taxes, you would exceed the standard deduction and be able to reduce your taxable income by an additional $1,200
        by itemizing.</p>

      <h3>Tax break 2: Property taxes</h3>
      <p>This deduction is capped at $10,000 for those married filing jointly no matter how high the taxes are. </p>
      <p>Why it's important: Taxpayers can take one $10,000 deduction, says Brian Ashcraft, director of compliance at
        Liberty Tax Service.</p>
      <p>Just note that property taxes are on that itemized list of all of your deductions that must add up to more than
        your particular standard deduction to be worth your while.</p>
      <p>And remember that if you have a mortgage, your property taxes are built into your monthly payment.</p>

      <h3>Tax break 3: Private mortgage insurance</h3>
      <p>If you put less than 20% down on your home, odds are you're paying private mortgage insurance, or PMI, which
        costs from 0.3% to 1.15% of your home loan.</p>
      <p>But here's some good news for PMI users: You can deduct the interest on this insurance thanks to the Mortgage
        Insurance Tax Deduction Act of 2019—aka the Setting Every Community Up for Retirement Enhancement (SECURE)
        Act—which reinstated certain deductions and credits for homeowners.</p>
      <p>"These include the deduction for PMI," says Laura Fogel, certified public accountant at Gonzalez and Associates
        in Massachusetts. (This credit is retroactive, so talk to your accountant to see if it makes sense to amend your
        2018 or 2019 tax return in case you missed it in past years.)

        Also note that this tax deduction is set to expire again after 2020 unless Congress decides to extend it in
        2021.</p>
      <p>Why it's important: The PMI interest deduction is also an itemized deduction. But if you can take it, it might
        help push you over the $24,800 standard deduction for married couples under 65. And here's how much you'll save:
        If you make $100,000 and put down 5% on a $200,000 house, you'll pay about $1,500 in annual PMI premiums and
        thus cut your taxable income by $1,500. Nice!</p>

      <h3>Tax break 4: Energy efficiency upgrades</h3>
      <p>The Residential Energy Efficient Property Credit was a tax incentive for installing alternative energy upgrades
        in a home. Most of these tax credits expired after December 2016; however, two credits are still around (but not
        for long). The credits for solar electric and solar water-heating equipment are available through Dec. 31, 2021,
        says Josh Zimmelman, owner of Westwood Tax & Consulting, a New York–based accounting firm.</p>
      <p>The SECURE Act also retroactively reinstated a $500 deduction for certain qualified energy-efficient upgrades
        "such as exterior windows, doors, and insulation," says Fogel.</p>
      <p>Why it's important: You can still save a tidy sum on your solar energy. And—bonus!—this is a credit, so no
        worrying about itemizing here. However, the percentage of the credit varies based on the date of installation.
        For equipment installed between Jan. 1, 2020, and Dec. 31, 2020, 26% of the expenditure is eligible for the
        credit (down from 30% in 2019). That figure drops to 22% for installation between Jan. 1 and Dec. 31, 2021. As
        of now, the credit ends entirely after 2021.</p>

      <h3>Tax break 5: A home office</h3>
      <p>Good news for all self-employed people whose home office is the main place where they work: You can deduct $5
        per square foot, up to 300 square feet, of office space, which amounts to a maximum deduction of $1,500.</p>

      <p>For those who can take the deduction, understand that there are very strict rules on what constitutes a
        dedicated, fully deductible home office space. Here's more on the much-misunderstood home office tax
        deduction.</p>

      <p>The fine print: The bad news for everyone forced to work at home due to COVID-19? Unfortunately, if you are a
        W-2 employee, you're not eligible for the home office deduction under the CARES Act even if you spent most of
        2020 in your home office.</p>

      <h3>Tax break 6: Home improvements to age in place</h3>
      <p>The cost of these improvements can result in a nice tax break for many older homeowners who plan to age in
        place and add renovations such as wheelchair ramps or grab bars in bathrooms. Deductible improvements might also
        include widening doorways, lowering cabinets or electrical fixtures, and adding stair lifts.</p>

      <h3>Tax break 7: Interest on a home equity line of credit</h3>
      <p>If you have a home equity line of credit, or HELOC, the interest you pay on that loan is deductible only if
        that loan is used specifically to "buy, build, or improve a property," according to the IRS. So you'll save cash
        if your home's crying out for a kitchen overhaul or half-bath. But you can't use your home as a piggy bank to
        pay for college or throw a wedding.</p>
      <p>The fine print: You can deduct only up to the $750,000 cap, and this is for the amount you pay in interest on
        your HELOC and mortgage combined. (And if you took out a HELOC before the new 2018 tax plan for anything besides
        improvements to your home, you cannot legally deduct the interest.)</p>
    </div>
    <!--    -->
    <div class="rightColumn">

      <div class="popular-blog">
        <h3 class="title-popularBlog">Popular Post</h3>
        <div class="card" *ngFor="let blog of popularBlogs">
          <a [routerLink]="['/blogDetail/',blog.id]">
            <h2 class="subtitle-popularBlog">{{blog.title}}</h2>
            <div class="img-blog">
              <img src="assets/images/homebanner1.jpg" alt="">
            </div>
          </a>
        </div>

      </div>

    </div>
  </div>

</section>
