<section id="estatesDetail">
  <!-- ======= ESTATE INFORMATION =====   -->
  <div class="row estate-info">
    <div class="col-8 estate-text" >
      <p class="estate-price">{{estate.price | currency}} </p>
      <span> <i>{{estate.bedroom_nums}} </i>Bed</span>
      <span> <i>{{estate.bathroom_nums}} </i>Bath</span>
      <span> <i>{{estate.floor_space}} </i>sqft</span>
      <span> <i>Address:</i> {{estate.address}}, {{estate.city_name}}</span>
    </div>
  </div>

  <div class="row">
    <!--    =========== SLIDE SHOW ===========-->
    <div class="col-12 col-md-6 slideEstate">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image of images">
          <img src="https://tungnguyenc3.s3.amazonaws.com/{{image.url}}" alt="{{estate.city_name}}">
        </ng-template>
      </ngb-carousel>


    </div>

    <!--    ============= FORM ============-->
    <div class="col-12 col-md-6 formEstate  ">
      <form [formGroup]="formSubscribe" (ngSubmit)="submitSubscribe()">
        <h3>More about this property</h3>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Full Name" required>
          </div>
        </div>
        <!-- -->
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email" required>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-location-arrow"></i></span>
            </div>
            <input type="text" name="address" formControlName="address" class="form-control" id="address" placeholder="Address" required>
          </div>
        </div>

        <!-- -->
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-phone"></i></span>
            </div>
            <input type="text" name="phone" formControlName="phone" class="form-control" id="phone" placeholder="Phone" required>
          </div>
        </div>
<!--        <input type="hidden" name="estate_id" formControlName="estate_id" value="{{estate.id}}">-->
<!--        <input type="hidden" name="owner_id" formControlName="owner_id" value="{{owner.id}}">-->
        <!-- -->
        <div class="form-group">

          <textarea class="form-control" aria-label="With textarea"
                    placeholder="I am interested in this house..."></textarea>
        </div>

        <button class="btn btn-primary" type="submit">Email Agent</button>
      </form>

      <app-read-more *ngFor="let item of items"
                     [content]="item"
                     [limit]="120"
                     [completeWords]="true">

      </app-read-more>

    </div>
  </div>



</section>



