<section id="highlightBlogs">
  <h1>What's happening in San Francisco, CA</h1>

  <div class="row">
    <div class="col">
      <div class="number">1.782</div>

      <div class="info">Homes for sale</div>
    </div>
    <!--    -->
    <div class="col">
      <div class="number">2</div>

      <div class="info">Open houses</div>
    </div>
    <!---->
    <div class="col">
      <div class="number">3.784</div>

      <div class="info">Recently sold</div>
    </div>
    <!---->
    <div class="col">
      <div class="number">161</div>

      <div class="info">Price reduced</div>
    </div>

  </div>

  <!-- TREND BLOG -->
  <a routerLink="/trend">
    <div class="blog">

      <img src="assets/images/trend5.jpg" alt="">
      <div class="blog_info">
        <p>Trends</p>

        <h3>Most Affordable (and Warm) Places to WFH This Winter</h3>

        <a href="#">Read More</a>
      </div>
    </div>
  </a>
</section>

<section id="blogList">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 " *ngFor="let blog of newBlog">
      <a [routerLink]="['/blogDetail/',blog.id]">
        <div class="card">
          <div class="imgBlog">
            <img class="card-img-top"
                 src="https://tungnguyenc3.s3.amazonaws.com/{{blog.image1}}"
                 alt="Card image cap">
          </div>

          <div class="card-body">
            <p class="card-blog">
              {{blog.title}}
            </p>
          </div>
        </div>
      </a>
    </div>


  </div>
</section>

<!--==================TWO BLOG ===========================-->
<section id="twoBlogs">
  <div class="row">
    <div class="col-12 col-sm-6 blog-img" routerLink="financePage/1">
      <img src="assets/images/blogLeft.jpg" alt="">
    </div>
    <div class="col-12 col-sm-6 blog-info" routerLink="financePage/1">
      <div class="header">
        <h3>What Is a Micromortgage? </h3>
        <p>The Loan That Can Help You Buy a Home With Zero Down Payment</p>
        <span class="discoveringBtn">Discovering Now</span>
      </div>
    </div>

    <!---->
    <div class="w-100 d-none d-md-block"></div>
    <!--    -->

    <div class="col-12 col-sm-6 order-last blog-img " routerLink="financePage/2">
      <img src="assets/images/blogRight.jpg" alt="">
    </div>
    <div class="col-12 col-sm-6 blog-info" routerLink="financePage/2">
      <div class="header">
        <h3>7 Tax Benefits of Owning a Home:</h3>
        <p>A Complete Guide for Filing This Year</p>
        <span class="discoveringBtn">Discovering Now</span>
      </div>
    </div>

  </div>


</section>

