<section id="blogs">
  <div class="row">
    <div class="leftColumn">

      <div class="card" *ngFor="let blog of allBlogs | slice:1:6">
        <a [routerLink]="['/blogDetail/',blog.id]">
          <h2 class="title-blog">{{blog.title}}</h2>
          <h5 class="date-blog">{{blog.created_at | date: 'dd/MM/yyyy' }}</h5>
          <div class="img-blog">
            <img src="assets/images/homebanner1.jpg" alt="">
          </div>
        </a>
      </div>

    </div>
    <div class="rightColumn">

      <div class="popular-blog">
        <h3 class="title-popularBlog">Popular Post</h3>

        <div class="card" *ngFor="let blog of popularBlogs">
          <a [routerLink]="['/blogDetail/',blog.id]">
            <h2 class="subtitle-popularBlog">{{blog.title}}</h2>
            <div class="img-blog">
              <img src="assets/images/homebanner1.jpg" alt="">
            </div>
          </a>
        </div>

      </div>

    </div>
  </div>
</section>

