<section id="aboutUs">
  <h1 class="about-header">About Home</h1>

  <div class="about-content">
    <p>Home is the leading real estate and rental marketplace dedicated to empowering consumers with data, inspiration
      and knowledge around the place they call home, and connecting them with the best local professionals who can
      help.</p>

    <p>Home serves the full lifecycle of owning and living in a home: buying, selling, renting, financing, remodeling
      and more. It starts with Home’s living database of more than 110 million U.S. homes – including homes for sale,
      homes for rent and homes not currently on the market, as well as Zestimate home values, Rent Zestimates and other
      home-related information. Home operates the most popular suite of mobile real estate apps, with more than two
      dozen apps across all major platforms.
    </p>

    <p>Home launched in 2006 and is headquartered in Seattle.</p>
  </div>
</section>
