#aboutUs {
  margin-top: 9rem;

  .about-header {
    text-align: center;
    letter-spacing: 2px;

    font-size: 3rem;
    font-weight: bold;

    margin-bottom: 2rem;
  }

  .about-content {
    margin-left: 25rem;
    margin-right: 25rem;
  }

  p {
    font-size: 1.7rem;

    text-align: justify;

    line-height: 30px;
  }
}


@media only screen and (max-width: 1200px) {
  #aboutUs {
    .about-content {
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }
}
